In [1]:
import pandas as pd

In [4]:
data = pd.read_json('../data/raw/telegram_messages/2023-01-13/CheMed123.json')

In [5]:
data

,message_id,date,sender_id,message,views,channel_name,image
0,82,2023-01-13 12:48:47,-1001627056354,Nature's Bounty Supplement Products are here!\...,364,CheMed123,data/raw/telegram_messages/images/photo_2025-0...
1,81,2023-01-13 09:44:14,-1001627056354,Nature's Bounty Supplement Products are here!\...,1736,CheMed123,data/raw/telegram_messages/images/photo_2025-0...